.showbox {
    margin-left: 4%;
}
.HeadingTab{
    display: flex;
    border: 4px solid rgb(4, 16, 51);;
    padding-left: 10px;
    align-items: center;

}
.HeadingTab > div {

    margin-right: 20px;
    font-size: 20px;
    color: rgb(4, 16, 51);
    font-weight: 600;
    width: 100px;
    overflow: hidden;
    text-align: left;
} 


