.img_box {
    width: 60px;

}

.img_box img {
    width: 100%;
    height: 120px;
}
.main_box {
    display: flex;
    margin-top: 20px;
    border: 1px solid lightcyan;
    align-items: center;
    padding-left: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.main_box > div {
    margin-right: 20px;
    font-size: 20px;
    color: rgb(4, 16, 51);
    font-weight: 600;
    width: 100px;
    overflow: hidden;
    text-align: left;
}
.deleted{
    color:#fff;
    background-color: red;
    padding : 5px 10px;
    font-size: 16px;
    float: right;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;

}