* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   
}

body {
    height: 100vh;
    background-color: rgb(238, 219, 185);
}

.cont {
    position: relative;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    /* background-color:aqua; */
    /* border: 2px solid red; */
    background-image: url("./img/logo.png");
}

.addTask {
    width: 100%;
    display: flex;
    padding: 10px 0;
}

.addTask>input[type="text"] {
    width: 90%;
    color: black;
    border: black;
    border-bottom: 2px solid black;
    background: none;
    padding: 10px;
    font-size: 22px;
    outline: none;
}

.addTask button {
    margin: 0 10px;
    background: black;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.notcomp,
.comp {
    margin: 5px 0;
    padding: 20px;
}

h3 {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

ol {
    list-style: none;
    counter-reset: my-counter;
}

ol li {
    width: 100%;
    padding: 20px;
    margin: 5px 0;
    background: rgb(212, 122, 122);
    font-size: 25px;
    counter-increment: my-counter;
}

.comp li {
    background: greenyellow;
}

ol li::before {
    content: counter(my-counter);
    background: rgb(8, 58, 58);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    color: white;
    margin-right: 0.5rem;
}

li button {
    float: right;
    padding: 5px;
    font-size: 20px;
    line-height: 20px;
    background: none;
    border: none;
    margin-right: 2px;
}
.navbar{
    background-color: rgb(157, 165, 42);
}
.navbar > img{
    margin-top: 5px;
    width:100px;
}

.todo_appliaction{
    font-size: 40px;
}