.Alldata{
    background-color: #1A237E;
    margin-top: 20px;
    padding:10px 20px;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 10px;
    width: 30%;
    height: 400px;
    margin:auto;
    overflow: auto;
    margin-top: 30px;
    /* box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.5); */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -0.2em 0 .2em rgba(0, 0, 0, 0.5);

}
.head{
    color: indigo;
}






